---
import Button from "../components/button.astro";
import Image from "../components/image.astro";
import Projects from "../components/home/projects.astro";
import Separator from "../components/home/separator.astro";
import Writings from "../components/home/writings.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="Shahneouj">
  <div
    class="relative z-20 h-auto w-full max-w-7xl mx-auto mt-16 px-7 md:mt-24 lg:mt-32 xl:px-0"
  >
    <div class="grid gap-x-10 grid-cols-2 w-full h-auto">
      <div class="flex flex-col items-center md:flex-row">
        <div class="relative w-full md:w-1/2">
          <h1
            class="mb-5 text-4xl font-bold leading-tight md:text-4xl lg:text-6xl dark:text-white"
          >
            Hello, I'm Shahneouj.
          </h1>
          <h3 class="mb-6 text-xl text-neutral-900 dark:text-neutral-100">
            I'm a Full Stack Web Application Developer who focus on your profit.
          </h3>

          <Button
            text="Follow me on linkdin"
            link="https://www.linkedin.com/in/shah-neouj-aa6514276/"
          />
        </div>
      </div>
      <div class="relative">
        <div class="bg-neutral-700 w-96 h-96 rounded-full mx-auto my-32"></div>
        <div class="absolute left-32 bottom-0 h-full w-96">
          <Image
            src="/assets/images/myimage.png"
            size="600px"
            alt="Shahneouj"
            width="1500px"
            height="1500px"
          />
        </div>
      </div>
    </div>
  </div>
  <Separator text="Check out my projects" />
  <Projects />
  <Separator text="Some of my writing" />
  <Writings />
</Layout>
